<?xml version="1.0"?>
<robot name="atom" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find atom_description)/urdf/materials.xacro" />
  <!-- Import xacro macros -->
  <xacro:include filename="$(find atom_description)/urdf/macros.xacro" />
  
  <!-- Main body -->
  <xacro:cube name="base_link" mass="1.0" x="0.15" y="0.1" z="0.05" origin="0 0 0" color="gold" />

  <!-- Define all the wheels -->
  <xacro:wheel name="front_left" mass="0.1" radius="0.04" height="0.05" origin="0.075 0.075 -0.025" color="grey" />
  <xacro:wheel name="front_right" mass="0.1" radius="0.04" height="0.05" origin="0.075 -0.075 -0.025" color="grey" />
  <xacro:wheel name="back_left" mass="0.1" radius="0.04" height="0.05" origin="-0.075 0.075 -0.025" color="grey" />
  <xacro:wheel name="back_right" mass="0.1" radius="0.04" height="0.05" origin="-0.075 -0.075 -0.025" color="grey" />

  <!-- Camera -->
  <xacro:cube name="camera" mass="0.1" x="0.02" y="0.01" z="0.01" origin="0 0 0" color="blue" />

  <joint name="joint_camera" type="fixed">
    <parent link="base_link" />
    <child link="camera" />
    <origin xyz="0.03 0 0.125" />
  </joint>
</robot>
